%a{name: 'what'}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Special forums
          %br
          and events
        %p.lead
          Throughout 2016, City Club of Boise will host forums focusing on civility in government, business settings, faith communities, health care, and media.
          Special after-hours events and salons will give everyone an opportunity to see the challenges we all face in creating and fostering civil engagement throughout our lives.
      .col-lg-5.col-lg-offset-2.col-sm-6
        = image_tag 'what.jpg', class: 'img-responsive', alt: 'why'

%a{name: 'why'}
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Why
        %p.lead
          Civility isn't merely being polite, it's a focus on assuring a vibrant and robust democracy.  Keeping discourse civil is most valuable when passions are most heated so that all viewpoints can be heard and considered.
      .col-lg-5.col-sm-pull-6.col-sm-6
        = image_tag 'why.jpg', class: 'img-responsive', alt: ''

%a{name: 'partners'}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Partners in
          %br
          Civility
        %p.lead
          We thank and welcome our partners in
          %br
          the effort to keep Boise a great city!
      .col-lg-5.col-lg-offset-2.col-sm-6
        .container
          .row
            .col-sm-6
              = image_tag 'partners/ihc_sm.jpg', class: 'img-responsive', width: '200', alt: ''

-#
%a{name: 'connect'}
.banner
  .container
    .row
      .col-lg-6
        = image_tag 'ccob_logo.png', class: 'img-responsive', width: '200', alt: 'City Club of Boise'
      .col-lg-6{style: 'padding-top: 5%;'}
        %ul.list-inline.banner-social-buttons
          %li
            = link_to 'https://cityclubofboise.org', class: 'btn btn-default btn-lg', target: '_blank' do
              %i.fa.fa-globe.fa-fw
              %span.network-name
                Website
          %li
            = link_to 'https://www.facebook.com/cityclubofboise', class: 'btn btn-default btn-lg', target: '_blank' do
              %i.fa.fa-facebook-square.fa-fw
              %span.network-name
                Facebook
          %li
            = link_to 'https://www.twitter.com/cityclubofboise', class: 'btn btn-default btn-lg', target: '_blank' do
              %i.fa.fa-twitter.fa-fw
              %span.network-name
                Twitter
