%a{name: 'what'}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h2.section-heading
          Promoting Civil Problem Solving in Idaho
        %hr.section-heading-spacer
        .clearfix
        %p.lead
          During 2016, City Club is focusing much of its programming around the Civility Project, including at
          our traditional lunch forums, tours, and salons, as well as at our new After Hours events. Forums will
          address civility in arenas like social media; courts; government and politics; education; faith; and
          business. You’ll hear speakers share how the principles of civil discourse guide their work and inspire
          solutions, such as creating specialized courts for veterans and reducing bullying in schools.
          Throughout the project, City Club intends to convene Civility Roundtables with university policy
          centers, community organizations, and other partners to identify cooperative program offerings,
          evaluate results and explore opportunities to sustain the momentum for a second year.
      .col-lg-5.col-lg-offset-2.col-sm-6.img-margin
        = image_tag 'what.jpg', class: 'img-responsive', alt: 'what'

%a{name: 'why'}
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %h2.section-heading
          Why
        %hr.section-heading-spacer
        .clearfix
        %p.lead
          We want Idaho and its cities
          to be national examples of communities that address
          differences civilly. The goal of the Civility Project is not
          to make everyone agree; rather, we hope to help people
          learn how to disagree while remaining agreeable. This
          year-long project offers Idaho leaders and citizens
          tools to move toward resolution and action when those
          involved don’t see eye-to-eye on the issues. It’s about
          listening to and incorporating dissenting voices so that
          everyone is heard, moving civility from an abstract
          notion to an expected code of conduct.
      .col-lg-5.col-sm-pull-6.col-sm-6.img-margin
        = image_tag 'why.jpg', class: 'img-responsive', alt: 'why'

%a{name: 'events'}
.content-section-a
  .container
    .row
      .col-lg-5.col-sm-6
        %h2.section-heading
          Events
        %hr.section-heading-spacer
        .clearfix
        %p.lead
          Upcoming events listed below
          .container.col-lg-10.col-sm-12
            .row
              .schedule-date.past
                January 28<sup>th</sup>
              .schedule-event.past
                Civility Over Time: An Overview
              .av-links.past
                = link_to 'Audio', 'http://www.cityclubofboise.org/audio/2016/20160128CivilitySalon.mp3', target: '_blank', class: "btn btn-blue"
                = link_to 'Video', 'http://video.idahoptv.org/video/2365703716/', target: '_blank', class: "btn btn-green"
            %br
            .row
              .schedule-date.past
                March 8<sup>th</sup>
              .schedule-event.past
                Civility in Our Schools: Civility Incubators?
              .av-links.past
                = link_to 'Audio', 'http://www.cityclubofboise.org/audio/2016/20160308CivilityEd.mp3',   target: '_blank', class: "btn btn-blue"
                = link_to 'Video', 'http://video.idahoptv.org/video/2365704608/', target: '_blank', class: "btn btn-green"
            %br
            .row
              .schedule-date.past
                April 27<sup>th</sup>
              .schedule-event.past
                Civility on the Internet: When Social Media turns Antisocial
              .av-links.past
                = link_to 'Audio', 'http://www.cityclubofboise.org/audio/2016/20160427CivilitySocialMedia.mp3', target: '_blank', class: "btn btn-blue"
                = link_to 'Video', 'http://video.idahoptv.org/video/2365731699', target: '_blank', class: "btn btn-green"
            %br
            .row
              .schedule-date.past
                May 16<sup>th</sup>
              .schedule-event.past
                Civility on the Trail
              .av-links.past
                = link_to 'Audio', 'http://www.cityclubofboise.org/audio/2016/20160516CivilityTrails.mp3', target: '_blank', class: "btn btn-blue"
                = link_to 'Video', 'http://video.idahoptv.org/video/2365757017/', target: '_blank', class: "btn btn-green"
            %br
            .row
              .schedule-date.past
                July 20<sup>th</sup> - Wednesday
              .schedule-event.past
                Civility and Faith
              .av-links.past
              = link_to 'Video', 'http://video.idahoptv.org/video/2365811591/', target: '_blank', class: "btn btn-green"
            %br
            .row
              .bg-info
                .schedule-date
                  August 8th<sup>th</sup> - Monday
                .schedule-event
                  Civility in Public Office
                .schedule-descrip
                  Perspectives from Senator James Risch
            %br
            .row
              .schedule-date
                September - <i>date tbd</i>
              .schedule-event
                Civility in the Courts
              .schedule-descrip
                Decorum, ethics and more...
            %br
            .row
              .schedule-date
                October - <i>date tbd</i>
              .schedule-event
                Civility and the Election
              .schedule-descrip
                The 2016 Election
            %br
            .row
              .schedule-date
                November - <i>date tbd</i>
              .schedule-event
                Civility and Business
              .schedule-descrip
                Free Enterprise and Fairness
      %br
      .col-lg-5.col-lg-offset-2.col-sm-6.img-margin
        = image_tag 'events.jpg', class: 'img-responsive', alt: 'events'


%a{name: 'partners'}
.content-section-b
  .container
    .row
      .col-lg-5.col-lg-offset-1.col-sm-push-6.col-sm-6
        %hr.section-heading-spacer
        .clearfix
        %h2.section-heading
          Partners in
          %br
          Civility
        %p.lead
          We thank and welcome our annual and project partners in
          %br
          the effort to keep Boise a great city!
      .col-lg-5.col-sm-pull-6.col-sm-6
        .row
          = link_to 'http://www.idahohumanities.org/', target: '_blank' do
            .col-sm-6.partner-logo.ihc-logo
              = image_tag 'partners/ihc_sm.jpg', class: 'img-responsive', width: '200', alt: 'partners'
          = link_to 'http://www.redskypr.com/', target: '_blank' do
            .col-sm-6.partner-logo.rspr-logo
              = image_tag 'partners/rspr001.png', class: 'img-responsive', width: '200', alt: 'partners'
        .row
          = link_to 'http://www.peppershock.com/', target: '_blank' do
            .col-sm-6.partner-logo.pep-logo
              = image_tag 'partners/pep001.png', class: 'img-responsive', width: '200', alt: 'partners'
          = link_to 'http://www.nnu.edu/', target: '_blank' do
            .col-sm-6.partner-logo.nnu-logo
              = image_tag 'partners/nnu001.png', class: 'img-responsive', width: '170', alt: 'partners'

-#
%a{name: 'connect'}
.banner
  .container
    .row
      = link_to 'https://cityclubofboise.org', target: '_blank' do
        .col-lg-6
          = image_tag 'ccob_logo.png', class: 'img-responsive', width: '200', alt: 'City Club of Boise'
      .col-lg-6{style: 'padding-top: 5%;'}
        %ul.list-inline.banner-social-buttons
          %li
            = link_to 'https://cityclubofboise.org', class: 'btn btn-default btn-lg', target: '_blank' do
              %i.fa.fa-globe.fa-fw
              %span.network-name
                Website
          %li
            = link_to 'https://www.facebook.com/cityclubofboise', class: 'btn btn-default btn-lg', target: '_blank' do
              %i.fa.fa-facebook-square.fa-fw
              %span.network-name
                Facebook
          %li
            = link_to 'https://www.twitter.com/cityclubofboise', class: 'btn btn-default btn-lg', target: '_blank' do
              %i.fa.fa-twitter.fa-fw
              %span.network-name
                Twitter
