%footer
  .container
    .row
      .col-lg-12
        %ul.list-inline
          %li
            = link_to 'Home', '#'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'What', '#what'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'Why', '#why'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'Events', '#events'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'Partners', '#partners'
          %li.footer-menu-divider
            &sdot;
          %li
            = link_to 'Connect', '#connect'
        %p.copyright.text-muted.small
          Copyright &copy; 2015, City Club of Boise. All Rights Reserved.
          %br

          %br
          .text-muted.small
            = link_to 'http://creativecommons.org/licenses/by-nc-sa/3.0/us/', rel: 'license' do
              = image_tag 'https://i.creativecommons.org/l/by-nc-sa/3.0/us/88x31.png', style: 'border-width: 0', alt: 'Creative Commons License'
            &nbsp;
            All images that are not logos are licensed under a
            = succeed '.' do
              = link_to 'Creative Commons Attribution-NonCommercial-ShareAlike 3.0 United States License', 'http://creativecommons.org/licenses/by-nc-sa/3.0/us/', rel: 'license'
