!!!
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{'http-equiv' => 'X-UA-Compatible', content: 'IE=edge'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'description',  content: ''}
    %meta{name: 'author', content: ''}

    -# Favicon support (stored under /public)
    = favicon_link_tag '/favicon/apple-icon-57x57.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '57x57'
    = favicon_link_tag '/favicon/apple-icon-60x60.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '60x60'
    = favicon_link_tag '/favicon/apple-icon-72x72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '72x72'
    = favicon_link_tag '/favicon/apple-icon-76x76.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '76x76'
    = favicon_link_tag '/favicon/apple-icon-114x114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'
    = favicon_link_tag '/favicon/apple-icon-120x120.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '120x120'
    = favicon_link_tag '/favicon/apple-icon-144x144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144'
    = favicon_link_tag '/favicon/apple-icon-152x152.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '152x152'
    = favicon_link_tag '/favicon/apple-icon-180x180.png', rel: 'apple-touch-icon', type: 'image/png', sizes: '180x180'
    = favicon_link_tag '/favicon/android-icon-192x192.png', rel: 'icon', type: 'image/png', sizes: '192x192'
    = favicon_link_tag '/favicon/favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32'
    = favicon_link_tag '/favicon/favicon-96x96.png', rel: 'icon', type: 'image/png', sizes: '96x96'
    = favicon_link_tag '/favicon/favicon-16x16.png', rel: 'icon', type: 'image/png', sizes: '16x16'
    %link{rel: 'manifest', href: '/favicon/manifest.json'}
    %meta{name: 'msapplication-TileColor', content: '#17C7D2'}
    %meta{name: 'msapplication-TileImage', content: '/favicon/ms-icon-144x144.png'}
    %meta{name: 'theme-color', content: '#17C7D2'}

    %title
      The Civility Project | City Club of Boise

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    /[if lt IE 9]
      -# HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
      -# WARNING: Respond.js doesn't work if you view the page via file://
      = javascript_include_tag 'https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js'
      = javascript_include_tag 'https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js'

  %body
    = yield
